
* {    
    margin: 10px;
    padding: 10px;
    box-sizing: border-box; /* para que las cajas nos se desborden unas con otras*/

}


.padre {
    display: flex;
    flex-flow: column nowrap;
    
    
   
}

    section {
        background: #000;
        display: flex;
        
        flex-wrap: nowrap;
        width: 100%;
        
    }
        .textoTitulo{
            background: #f07b3f;
        }
            .textoTitulo h1 {
                background:grey;
            }
            .section .filtrar {
                background: #ffd460;
                padding: 0px;
                
            }
        
        .aside{
            background: pink;
            display: flex;
            flex-direction: column;
            margin: 0px;
            padding: 0px;
            width: 50%;
        }
            .aside .foto {
                background-color: orange;

            }
            .aside .herramientas {
                background: orange;
                border: 1px solid black;
                margin: 0px;
                padding: 0px;
                display: flex;
            }
                .aside .herramientas .boton-perfil {
                    align-items: center;
                    width: 100%;
                    background: #e2dfdf;
                }
            .aside .productos {
                background: orange;
                border: 1px solid black;
                margin: 0px;
                padding: 0px;
                display: flex;
            }
                .aside .productos .boton-productos {
                    align-items: center;
                    width: 100%;
                    background: #e2dfdf;
                }
            .aside .configuracion {
                background: orange;

                margin: 0px;
                padding: 0px;
                display: flex;
                
            }
                .aside .configuracion .boton-cofiguracion {
                   align-items: center;
                   width: 100%;
                   background: #e2dfdf;
                }
            
        
        
        
        
        .productoEditar {
            display: flex;
            flex-flow: column nowrap;
            width: 100%;
            margin: 0px;
            padding: 0px;
        }

            .productoEditar .producto {
                background: orange;
                display: flex;
                flex-direction: column;
                
                
            }
                
                .articulos {
                    background: grey;
                    display: flex;
                    height: 10em;
                                                                  
                }
                    .articulos .productosVariosA {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        flex-wrap: wrap;
                        
                    }
                    .articulos .productosVariosB {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        
                    }
                    .articulos .productosVariosC {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        
                    }
                        .articulos .productosVarios img {
                            padding: 0px;
                            width: 90%;
                        
                            
                        }

                .nav {
                    background: grey
                }
                .nav .navInterno {
                    background: red;
                    
                        
                }       