body {
    background-color: white;
}

/* Container Padre */

.container-section-producto {
    background:white;
    display: flex;
    max-width: 1200px;
    max-height: 500px;
}

/* Container imagen izquirda */

.container-img {
    display: flex;
    width: 50%;
}
.article-imagen-left {
    width: 100%;
}

/* Container imagen derecha */

.container-imagenes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15%;
    margin-right: 0.8%;
    
}
.article-imagen-right {
    height: 32.3%;
    margin-left: 5%;
}

/* Container detalle del producto*/

.container-detalle {
    width: 35%;
}
.container-detalle {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: rgb(221, 221, 221);
}

/* titulo detalle */

.container-detalle-titulo{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.container-texto-nombre {
    display: flex;
}

/* precio detalle */

.container-texto-precio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
}

.container-texto-precio h4 {
    margin-left: 10px;
}

/* Container talle */

.container-detalle-talle {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 20px;
}
.container-detalle-talles{
    display: flex;
    flex-direction: row;
}
.container-detalle-talles p{
    margin-top: 2px;
    margin-right: 5px;
}

/* Container boton */

.container-detalle-comprar {
    display: flex;
    margin-left: 30px;
    margin-top: 100px;
}

.section-loginButtonEnterOk {
    font-weight: 400;
    height: 30px;
    border-radius: 50px;
    font-size: 18px;
    width: 100px;
    background-color: #0985d9;
    border: solid 1px  #0985d9;
    color: #fff;
}

.section-loginButtonEnterOk:hover {
    border: solid 1px #6ad872;
    background-color:   #6ad872;
    cursor: pointer;
}

/* Container descripcion producto */

.container-descripcion {
    display: flex;
    flex-direction: column;
    width: 1200px;
}
.container-descripcion p{
    
    width: 1200px;
}
