<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="style/adm-producto.css">
    <link rel="stylesheet" href="style/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <title>Productos</title>
</head>

<body>

    <div class="padre">

        <header class="main-header">
            <nav class="main-nav">
                <div class="main-navContainerLogo">
                    <a href="/"></a> 
                    <img src="logos/logo-digital-sports.svg"  alt="logo-digitasports" class="main-nav__logo">
                </div>
                
                <div class="main-navContainerListNavegation">
                    <a href="#" class="main-navListNavegation__woman">Mujer</a>
                    <a href="#" class="main-navListNavegation__man">Hombre</a>
                    <a href="#" class="main-navListNavegation__childs">Niños</a>
                    <a href="#" class="main-navListNavegation__brands">Marcas</a>
                </div>
        
                <div class="main-navContainerIcons">
                    <a href=""><i class="fas fa-search main-navIcons__search"></i></a>
                    <a href=""><i class="fas fa-heart main-navIcons__heart"></i></a>
                    <a href="carrito"><i class="fas fa-shopping-cart main-navIcons__cart"></i></a>
                    <a href="login"><i><i class="fas fa-user main-navIcons__user"></i></i></a>
                </div>
            </nav>
        </header>

        <section class="section">
            
            <aside class="aside">
                <div class="foto">
                    <img width= 94% src="images/imagen-perfil.jpg" alt="">
                </div>
                <div class="herramientas">
                    <button type="submit" class="boton-perfil">Perfil</button>
                </div>
                <div class="productos">
                    <button type="submit" class="boton-productos">Productos</button>
                </div>
                    

                <div class="configuracion">
                    <button type="submit" class="boton-cofiguracion">Configuración</button>

                </div>
            </aside>
            

            <div class="productoEditar">

                <div class="textoTitulo">
                    <h1>Tus Productos Activos</h1>
                </div>
                <div class="filtrar">
                    <h5>Filtrar</h5>
                </div>

                <div class="producto">

                    <div class="articulos">
                        
                        <div class="productosVariosA">
                
                            <img width= 100% src="images/zapatilla_nike_.jpg" alt="">
                            <div class="detalleProducto">
                                <h6>$4000</h6>
                            </div>
                        </div>
                        <div class="productosVariosB">
                           
                            <img width= 100% src="images/top_nike_indy.jpg" alt="">
                           
                        </div>
                        <div class="productosVariosC">
                            <img width= 100% src="images/zapatilla_nike_air_Bella.jpg" alt="">
                            
                        </div>
                       
                   </div>
                   
                   <div class="nav">
                        <nav class="navInterno">
    
                        </nav>
                   </div>
                   
    
    
    
                </div>
              
            </div>
            

        </section>
   


        <footer class="footer">
            <div class="footer-containerLogo-Redes">
                <div class="footer-containerLogo">
                    <img src="logos/logo-digital-sports.svg" alt="" class="footer__logo">
                </div>
        
                <div class="footer-containerRedes">
                    <a href="https://www.instagram.com/"><i class="fab fa-instagram footer-Redes__iconInstagram"></i></a>
                    <a href="https://www.facebook.com/"></i><i class="fab fa-facebook footer-Redes__iconFacebook"></i></a>
                    <a href="https://twitter.com/?lang=en"><i class="fab fa-twitter-square footer-Redes__iconTwitter"></i></a>
                    <a href="https://www.tiktok.com/en/"><i class="fab fa-tiktok footer-Redes__iconTiktok"></i></a>
                </div>
        
            </div>
        
            <div class="footer-containerLists">
                <div class="footer-containerAboutUs">
                    <h4 class="footer-aboutUs__title">Nosotros</h4>
                    <ul class="footer-aboutUs__list">
                        <li>Acerca de Nosotros</li>
                        <li>Contacto</li>
                        <li>Trabaja junto a nosotros</li>
                        <li>Terminos y condiciones</li>
                    </ul>
                </div>
        
                <div class="footer-containerInformation">
                    <h4 class="footer-information__title">Información</h4>
                    <ul class="footer-information__list">
                        <li>Medios de Pago</li>
                        <li>Preguntas frecuentes</li>
                        <li>Como Comprar</li>
                        <li>Envíos</li>
                    </ul>
                </div>
        
                <div class="footer-containerAttention">
                    <h4 class="footer-attention__title">Atención al cliente</h4>
                    <ul class="footer-attention__list">
                        <li>0800-77-SPORTS</li>
                        <li>Lunes a Sabado de 9 a 20 hs</li>
                    </ul>
                </div>
            </div>
        
            <div class="footer-containerCopyright">
                <p>&copy digital-sports</p>
            </div>
        </footer>

    </div>


    
</body>
</html>