<footer class="footer">
    <div class="footer-containerLogo-Redes">
        <div class="footer-containerLogo">
            <img src="logos/logo-digital-sports.svg" alt="" class="footer__logo">
        </div>

        <div class="footer-containerRedes">
            <a href="https://www.instagram.com/"><i class="fab fa-instagram footer-Redes__iconInstagram"></i></a>
            <a href="https://www.facebook.com/"></i><i class="fab fa-facebook footer-Redes__iconFacebook"></i></a>
            <a href="https://twitter.com/?lang=en"><i class="fab fa-twitter-square footer-Redes__iconTwitter"></i></a>
            <a href="https://www.tiktok.com/en/"><i class="fab fa-tiktok footer-Redes__iconTiktok"></i></a>
        </div>

    </div>

    <div class="footer-containerLists">
        <div class="footer-containerAboutUs">
            <h4 class="footer-aboutUs__title">Nosotros</h4>
            <ul class="footer-aboutUs__list">
                <li>Acerca de Nosotros</li>
                <li>Contacto</li>
                <li>Trabaja junto a nosotros</li>
                <li>Terminos y condiciones</li>
            </ul>
        </div>

        <div class="footer-containerInformation">
            <h4 class="footer-information__title">Información</h4>
            <ul class="footer-information__list">
                <li>Medios de Pago</li>
                <li>Preguntas frecuentes</li>
                <li>Como Comprar</li>
                <li>Envíos</li>
            </ul>
        </div>

        <div class="footer-containerAttention">
            <h4 class="footer-attention__title">Atención al cliente</h4>
            <ul class="footer-attention__list">
                <li>0800-77-SPORTS</li>
                <li>Lunes a Sabado de 9 a 20 hs</li>
            </ul>
        </div>
    </div>

    <div class="footer-containerCopyright">
        <p>&copy digital-sports</p>
    </div>
</footer>