<header class="main-header">
    <nav class="main-nav">
        <div class="main-navContainerLogo">
            <a href="/"></a> 
            <img src="logos/logo-digital-sports.svg"  alt="logo-digitasports" class="main-nav__logo">
        </div>
        
        <div class="main-navContainerListNavegation">
            <a href="#" class="main-navListNavegation__woman">Mujer</a>
            <a href="#" class="main-navListNavegation__man">Hombre</a>
            <a href="#" class="main-navListNavegation__childs">Niños</a>
            <a href="#" class="main-navListNavegation__brands">Marcas</a>
        </div>

        <div class="main-navContainerIcons">
            <a href=""><i class="fas fa-search main-navIcons__search"></i></a>
            <a href=""><i class="fas fa-heart main-navIcons__heart"></i></a>
            <a href="carrito"><i class="fas fa-shopping-cart main-navIcons__cart"></i></a>
            <a href="login"><i><i class="fas fa-user main-navIcons__user"></i></i></a>
        </div>
    </nav>
</header>